.button-row {
    text-align: right;
    color: #FFFFFF;
    height: 40px;
    width: 228px;
}

.button-row.purchased {
    color: #CCCCCC;
}
.dialog .dialog-contents {
    width: 100%;
    background-color: #81887f;
}

.tabview, .tabview-contents {
    width: 100px;
    background-color: #91887f;
}

.scrollview  {
    width: 260px;
    height: 100%;
    background-color: #a1887f;
}

.scrollview-contents {
    width: 240px;
    background-color: #b1887f;
}


image {
    width: 32px;
    height: 32px;
}