.notification {
    width: 265px;
    text-align: right;
    color: #FFFFFF;
    height: 40px;
}

.box {
    width: 100%;
}
.dialog .dialog-contents {
    background-color: #81887f;
}

.tabview, .tabview-contents {
    width: 100%;
    background-color: #91887f;
}
.scrollview .scrollview-contents {
    width: 300px;
    background-color: #a1887f;
}

image {
    width: 32px;
    height: 32px;
}